<?xml version="1.0"?>
<launch>

    <param name="use_sim_time" value="true"/>
    <!-- launch your velodyne here -->
    <!-- <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/> -->
    
    <!-- For Velodyne VLP-16 -->
    <!-- <param name="scan_line" value="16" /> -->
    

    <!-- For Velodyne HDL-32 
    <param name="scan_line" value="32" />
    -->

    <!-- For Velodyne HDL-64  -->
    <param name="scan_line" value="64" />
   

    <!--- Sim Time -->
    <param name="scan_period" value="0.1" />

    <param name="vertical_angle" type="double" value="2.0" />
    <param name="map_resolution" type="double" value="0.2" />
    <param name="max_dis" type="double" value="90.0" />
    <param name="min_dis" type="double" value="0.5" />
    <param name="dt_folder" type="string" value="$(find lcloam)/test/dt/" />

    <!--- -->
    <node pkg="lcloam" type="lcloam_odom_estimation_node" name="lcloam_odom_estimation_node" output="screen"/>
    <node pkg="lcloam" type="lcloam_laser_processing_node" name="lcloam_laser_processing_node" output="screen"/>
    <!-- <node pkg="lcloam" type="lcloam_laser_mapping_node" name="lcloam_laser_mapping_node" output="screen"/> -->
    <node pkg="lcloam" type="lcloam_backend_opt_node" name="lcloam_backend_opt_node" output="screen"/>

    <node pkg="tf" type="static_transform_publisher" name="word2map_tf"  args="0 0 0 0 0 0 /world /map 10" />

    <rosparam command="load" file="$(find lcloam)/config/params.yaml" />

    <!-- <node pkg="rosbag" type="play" name="rosbag_play" args="/home/jovyan/input/KITTI_velodyne_00/07.bag -clock" required="true"/>  -->
    
    <!-- <arg name="rviz" default="true" />
    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find lcloam)/rviz/lcloam_velodyne.rviz" />
    </group> -->
<!-- 
    <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="trajectory_server_loam" ns="base_link" >
        <param name="/target_frame_name" value="world" />
        <param name="/source_frame_name" value="base_link" />
        <param name="/trajectory_update_rate" value="10.0" />
        <param name="/trajectory_publish_rate" value="10.0" />
    </node> -->

</launch>
